#white{
    color: white !important;
}

.display-items{
    width: 100%;
    display: flex;
}
.items-head{
    width: 20%;
    height: fit-content;
    padding: 2%;
    margin: 2%;
    box-sizing: border-box;
    font-size: clamp(3rem,5vw,5rem);
    color: #f36d21;
    font-weight: 600;
    text-align: center;
}
.all-item-cont{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}