.carousel {
    padding: 3% 0;
    height: 100dvh;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: white;
    transition: all 1s;
    box-sizing: border-box;
    padding: 0 5%;
}

@media screen and (max-width:1000px) {
    .carousel {
        display: none;
    }
}

.img-cont>img {
    padding: 0 auto;
    max-height: 90dvh;
    height: fit-content;
    max-width: 100dvw;
    width: fit-content;

}

@media screen and (max-width:1000px) {
    .carousel {
        display: none;
    }
}