.carousel{
    height: 60dvh;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: #746E6B;
    transition: all 1s;
}
.img-cont{
    height: 100%;
    width: 100%;
    padding: 0 auto;
  
}
.img-cont>img{
    padding: 0 auto;
    height: 80%;
    width: 80%;
}
