.products{
    height: 100dvh;
    width: 100%;
    background-color: #efefef;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}
.pro-left{
    width: 50%;
    height: inherit;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 9;
}

.pro-left::before{
    content: '';
    height: 100%;
    width: 30%;
    background-color: #746e6b;
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 0;
}
.pro-left::after{
    content: '';
    height: 85%;
    width: 50%;
    border: 10px solid #b3afad;
    position: absolute;
    top: -5%;
    left: 15%;
    z-index: 100;
}

.pro-img-cont{
    height:80%;
    width: 60%;
   position: relative;
   z-index: 99;
}
.pro-img{
    height: 100%;
    width: 100%;

}

.pro-right{
    width: 50%;
    height: inherit;
    box-sizing: border-box;
}
.pro-heading{
    height: 20%;
    width: 100%;
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: 700;
    color: #070d10;
    display: grid;
    place-items: center;

}
.items-list-cont{
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    box-sizing: border-box;
}
.item{
    background-color: #b3afad;
    height: 10rem;
    width: 10rem;
    margin:  2%;
}
.button-area{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}
.pro-btn{
    height: 50px;
    width: 140px;
    background-color: #070d10;
    color: #b3afad;
    font-size: clamp(1.2rem, 2vw,1.5rem);
}
.pro-btn:hover{
    color: white;
    font-weight: 600;
}

@media screen and (max-width:800px) {
    .products{
        height: 177dvh;
        flex-direction: column-reverse;
      
    }
    .pro-right{
        width: 100%;
        height: 60%;
    }
    .pro-left{
        width: 100%;
        height: 40%;
        place-items: center end;
       
    }
    .pro-left::before{
        content: '';
        height: 50%;
        width: 100%;
        background-color: #746e6b;
        position: absolute;
        top: 70%;
        left: 0%;
        z-index: 0;
    }
    .pro-left::after{
        content: '';
        height: 85%;
        width: 50%;
        border: 10px solid #b3afad;
        position: absolute;
        top: 25%;
        left: 30%;
        z-index: 100;
    }
    .items-list-cont{
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: scroll;
        box-sizing: border-box;
    }
    .button-area{
        height: 25%;
        padding-left: 5%;
        width: 100%;
        display: flex;
        align-items: center;
    }

}